*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.top-line {
    border-bottom: solid #bcbbbb;
}

.signature {
    text-align: right;
}

.center-image {
    text-align: center;
    margin: auto;
    width: 100%;
    max-height: 300px;
}

.featured-work {
    font: 21px;
    color: bcbbbb;
}

.featured-word-data {
    text-align: center;
}

h3 {
    font-size: 20px;
    color: #747704;
}
/*First, let's make a class for our entire grid */
.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

/*Now let's make a class for something which takes up a whole row.*/
.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}

/*Finally, we'll need to make a column class for every column; 12 columns is the standard*/
.col-1 {
    width: 8.33%;
}

/*Each column expands by 8.3333%*/
.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}
